$font-stack: 'Catamaran', sans-serif;
$font-special:'Cormorant Upright', sans-serif;
$primary-color: #555;
$white-color: #fff;
$sea-color: #89a5a4;

body, h2 {
  font: 100% $font-stack;
}
  a{
    color: $primary-color;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  header {
    text-align: center;
    padding-top: 1.5rem;
    &.sub-header {
      padding: 3rem;
    }
  }
  
  .navbar-nav {
    margin-left: auto;
    .nav-link {
      color: $primary-color!important;
      font-weight: bold;
    }
  }
  
  #basket {
    align-self: center;
    margin-left: auto;
  }
  
  .sub-nav {
    padding: 2rem;
    
  }

  .price-color {
    color: $sea-color;
    margin-left: 1rem;
  }

  .sale-container {
    top: -5%;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .sale {
      color: $white-color;
      background-color: black;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .take-a-look-container.row {
    padding: 10px;
    > div:last-child {
      box-shadow: inset 0px 0px 0px 5px #fff;
    }
    > div {
      margin-top: 10px;
      padding: 5px;
      min-height: 300px;
    }
    .take-a-look {
      max-width: 24rem;
      letter-spacing: 0.1rem;
      display: flex;
      flex-direction: column;
      .short-hr {
        width: 3rem;
        border-color: $white-color;
      }
      .font-calc {
        font-size: calc(12px + 4vw);
        letter-spacing: 1rem;
      }
    }
    .img-lg {
      width: 100%;
    }
  }
  
  .grid-sm {
    position: relative;
  }
  
  .grid-md {
    padding-top: 2em;
  }
  
  .bg-sea {
    background-color: $sea-color;
  }

  .font-cormorant {
    font-family: $font-special;
  }
  
  .font-white {
    color: $white-color;
  }
  
  .font-sea {
    color: $sea-color;
  }
  
  .align-content-center {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  
  .thumbnail-container {
    position: relative;
    padding-top: 15px;
    .img-md {
      height: 100%!important;
      max-height: 350px;
      width: 100%;
      object-fit: cover;
    }
    .thumbnail-caption-container {
      background-color: $white-color;
      position: absolute;
      bottom: 10%;
      left: 10%;
      right: 10%;
      padding: 10px;
      box-shadow:
      0 0 0 1px rgb(201, 211, 211),
      0 0 0 5px hsl(0, 0%, 100%);
    }
  }
  
  .img-sm {
    width: 100%;
    height: 30%!important;
    object-fit: cover;
    padding-bottom: 1.6rem;
  }
  
  .social-wrapper {
    align-self: center;
    width: 400px;
    padding: 2rem;
    .social-parent {
      display: flex;
      justify-content: center;
      .social-icon>a {
        color: #b0b6c8;
        border: 1px solid #c8ccd0;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  
  footer {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 8rem;
  }

@media (max-width: 575.98px) {
  .thumbnail-container {
    .thumbnail-caption-container {
      padding: 0;
    }
  }
}

@media (max-width: 794px) {
  .thumbnail-container {
    .thumbnail-caption-container {
      bottom: 0;
      left: 20px;
      right: 20px;
    }
  }
  .img-md {
    max-height: 260px;
  }
}